version: '3.8'

services:
  web:
    build: .
    restart: always
    command: gunicorn --bind 0.0.0.0:8000 portfolio.wsgi:application
    ports:
      - "8000:8000"  
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=portfolio_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    expose:
      - 5432

volumes:
  postgres_data: