services:
  web:
    build: .
    restart: always
    command: gunicorn --bind 0.0.0.0:8000 portfolio.wsgi:application
    ports:
      - "8000:8000"
    env_file:
      - .env
volumes:
  postgres_data: